@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.contenedor {
  background-Color: #6699FF;
  padding: 1%;
}

.texto {
  text-decoration: none;
}

img {
  width: 6%;
  height: auto;
  padding: 1%;

}

.portada{
  height: 100vh;
  background-color: #6699CC;

  background-image: url("https://s3.envato.com/files/a4c2e1aa-9c57-4516-8d8b-9ae80aae23a5/inline_image_preview.jpg" );
  color: #CC6600;
  font-family: 'Lacquer';
}

h1 {
   padding-top: 4%;
   text-decoration: underline #CC6600;
   font-family: 'Permanent Marker';
}

.navbar {
  background-color: grey;
  color: green;
}